# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment

venv/

# VS Code
.vscode/

# Environment variables
.env

# Pytest
htmlcov/
.pytest_cache/

# Database
*.sqlite3

# OS
.DS_Store
Thumbs.db
